<ion-view view-title="Introduction">
    <!--try app section-->
    <ion-slide-box id="try-app-content" active-slide="0" style="height:90%">
        <!--slider section-->
        <ion-slide class="slide-01" style="text-align: center;">
            <br><br>
            <h3>Thank you for choosing the Awesome App!</h3>
            <div id="logo">
              <img src="https://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
              We've worked super hard to make you happy.
            </p>
            <p>
              But if you are angry, too bad.
            </p>
        </ion-slide>
        <ion-slide class="slide-02"></ion-slide>
        <ion-slide class="slide-03"></ion-slide>
        <ion-slide class="slide-04"></ion-slide>
        <ion-slide class="slide-05"></ion-slide>
        <ion-slide class="slide-06"></ion-slide>
        <ion-slide class="slide-07"></ion-slide>
        <ion-slide class="slide-08">
        </ion-slide>
        <!--end slider section-->
    </ion-slide-box><!--end try app section-->
    <div> 
    <div style="width:90%; margin:0 auto;">
        <button class="button button-full button-positive" ui-sref="app.dash">Login by Facebook</button>
    </div>
    </div>
</ion-view>